/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    background-color: #ebf5f4;
    width: 200px;
    height: 100px;
    color: blue;
}

.nav {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-color: #fafcfb;
    color: #010101;
    justify-content: space-between;
    align-items: center;
}

.landingconcert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav .logo {
    margin: 20px; /* Adjust the margin as needed */
    color: white; /* Set color for your logo text */
  }
  
  .nav-ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
 .nav-ul-li {
    margin-left: 20px;
    color: white; /* Set color for your link text */
  }
    
  h1 {
    text-align: center;
  }

  main {
    background: white;
    margin: 20px 0;
    padding: 10px;
  }
  
  main div {
    background: black;
    color: white;
    padding: 15px;
    max-width: 125px;
    margin: 5px;
  }
  
  .inline-block-center {
    text-align: center;
  }
  .inline-block-center div {
    display: inline-block;
    text-align: left;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
  }
